.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-top: 2rem;
}

.progress-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
} 